.response .front-face {
    transform: rotateY(-180deg);
}

.title{
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.title p {
    margin: 0 auto;
}

.title span {
    font-size: 18px;
}

.content {
    width: 294px;
}

.front-face .content {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.buttons2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttons2 img{
    width: 40px;
    height: 36px;
    cursor: pointer;
}